@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
  width: 1062px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.link-logo {
  position: absolute;
  top: 0;
  left: 2px;
}

.navigation-logo {
  display: block;
  padding-right: 28px;
}

.navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 542px;
}

.navigation-item {
  padding: 20px 16px 0;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}

.current-page::after {
  content: '';
  background-color: #756257;
  height: 2px;
  display: block;
  width: auto;
  margin-top: 19px;
}

.user-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: flex-end;
}

.user-nav-logo {
  display: flex;
  flex-wrap: wrap;
}

.user-nav-item {
  display: flex;
}

.user-nav-link {
  text-decoration: none;
  color: #ffffff;
  width: 44px;
  position: relative;
}

.user-nav-link-search {
  display: flex;
  padding: 22px 0;
  width: 45px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.user-nav-link-favorite {
  display: flex;
  padding: 22px 12px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.favorite-number {
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  background-color: #7db54f;
  border-radius: 10px;
  padding: 4px 4px;
  position: absolute;
  left: 20px;
  top: 11px;
  color: #ffffff;
}

.button-want-here {
  padding: 8px 34px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 160px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  margin: 14px 0 15px 20px;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #abcdde;
  background-image: url("../images/vector-welcome.svg"), url("../images/background-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 1200px 57px, cover;
  display: block;
}

.hero-logo {
  display: block;
  padding-top: 50px;
  padding-bottom: 82px;
  margin: 0 auto;
}

.advantages {
  padding-top: 70px;
}

.advantages-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 620px;
}

.advantages-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 89px;
  width: 651px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special .advantages-container {
  padding-top: 103px;
  padding-bottom: 101px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-container {
  padding-top: 114px;
  padding-bottom: 111px;
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
}

.advantages-title-edit {
  padding-right: 3px;
}

.advantages-title::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  height: 2px;
  display: block;
  width: 60px;
  margin: 30px auto;
}

.advantages-item-special .advantages-title::after {
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
  display: block;
  width: 60px;
  margin: 30px auto;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 230px;
  margin: 0 auto;
}

.advantages-image {
  display: block;
  object-fit: cover;
  height: 100%;
}

.invitation {
  padding-top: 65px;
}

.invitation-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.invitation-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  width: 490px;
  margin: 0 auto;
  margin-bottom: 62px;
}

.invitation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.invitation-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 78px 0 80px 0;
}

.invitation-item:nth-child(2n) {
  background-color: #ffffff;
}

.invitation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.invitation-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  width: 230px;
  margin: 0 auto;
}

.invitation-house {
  background-image: url("../images/icon-housing1.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 0 auto 30px;
}

.invitation-meal {
  background-image: url("../images/icon-meal1.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 0 auto 30px;
}

.invitation-souvenir {
  background-image: url("../images/icon-souvenirs1.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 0 auto 30px;
}

.search {
  padding-bottom: 96px;
  padding-top: 96px;
}

.search-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search-link {
  padding: 8px 50px 7px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  max-width: 592px;
  box-sizing: border-box;
  margin-left: 2px;
}

.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #94afc1;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  color: #ffffff;
}

.subscription-catalog {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subscription-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-field {
  padding: 15px 0 13px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  color: #000000;
  background: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-left: 2px;
}

.subscription-button {
  padding-top: 9px;
  padding-bottom: 7px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  color: #ffffff;
  background: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 46px 0 34px;
  width: 1060px;
  margin: 0 auto;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 310px;
}

.contacts-item {
  display: flex;
}

.contacts-link {
  display: flex;
  width: 48px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  color: #83b3d3;
}

.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-right: 167px;
}

.html-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.html-logo-icon {
  display: none;
}

.inner-filter {
  background-color: #41647a;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  color: #ffffff;
  width: 1200px;
  min-height: 412px;
  padding: 34px 70px 58px 65px;
  box-sizing: border-box;
}

.search-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: start;
  margin: 0 0 5px 5px;
}

.search-navigation {
  margin-bottom: 39px;
}

.search-navigation-list {
  list-style: none;
  display: flex;
  gap: 21px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.search-navigation-item {
  position: relative;
}

.search-navigation-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url("../images/arrow-page.svg");
  width: 7px;
  height: 10px;
  top: 30%;
  left: 115%;
}

.search-navigation-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.home-page-link {
  display: flex;
  width: 13px;
  height: 13px;
  padding: 6px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.parameters-form {
  display: flex;
  flex-wrap: wrap;
  gap: 67px;
}

.infrastructure-container {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  width: 449px;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
  text-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px 6px;
}

.title-price {
  margin: 0 0 32px 0;
}

.parameter-selection {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 1px 0 15px 42px;
  position: relative;
}

.fieldset-price {
  row-gap: 44px;
  margin-right: 3px;
}

.parameters-input {
  appearance: none;
  margin: 0;
}

.selection-checkbox::before {
  content: '';
  display: block;
  margin: -2px 0 0 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  right: 129px;
  top: 3px;
  cursor: pointer;
}

.selection-checkbox:checked::after {
  content: '';
  display: block;
  width: 12px;
  height: 11px;
  background-image: url("../images/checkbox.svg");
  position: absolute;
  right: 133px;
  top: 7px;
}

.selection-radio::before {
  content: '';
  display: block;
  margin: -2px 0 0 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 120px;
  top: 3px;
  cursor: pointer;
}

.selection-radio:checked::after {
  content: '';
  display: block;
  margin: -2px 0 0 0;
  width: 10px;
  height: 10px;
  background: #3f5e72;
  border-radius: 10px;
  position: absolute;
  right: 125px;
  top: 8px;
}

.container-selection {
  display: flex;
  gap: 2px;
  position: relative;
}

.selection-price {
  padding: 14px 38px 10px 20px;
  width: 143px;
  background: #f2f2f2;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}

.price-from {
  border-radius: 4px 0 0 4px;
}

.price-from-name {
  color: #000000;
  opacity: 0.3;
  position: absolute;
  font-size: 18px;
  right: 165px;
  top: 13px;
}

.price-before {
  border-radius: 0 4px 4px 0;
}

.price-before-name {
  color: #000000;
  opacity: 0.3;
  position: absolute;
  font-size: 18px;
  right: 21px;
  top: 13px;
}

.selection-price::placeholder {
  text-align: right;
  font-weight: 400;
}

.price-range {
  width: 287px;
  height: 20px;
  position: relative;
}

.schale {
  height: 4px;
  background-color: #ffffff52;
}

.range {
  height: 4px;
  width: 226px;
  background-color: #ffffff;
}

.range-handle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-handle-min {
  position: absolute;
  bottom: 8px;
}

.range-handle-max {
  position: absolute;
  bottom: 8px;
  right: 60px;
}

.fieldset-buttons {
  margin: 56px 0 0 0;
  row-gap: 32px;
}

.apply-button {
  width: 191px;
  height: 36px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.reset-button {
  width: 191px;
  height: 36px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border: 0;
  cursor: pointer;
}

.results-header {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 49px 0 40px 0;
}

.results-title-number {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 535px;
  text-align: start;
  padding: 6px 0;
}

.container-sorting-select {
  display: flex;
  flex-wrap: wrap;
  width: 352px;
  row-gap: 8px;
}

.sorting-select {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: #ffffff;
  padding: 11px 20px 12px 18px;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  appearance: none;
  margin-right: 58px;
  cursor: pointer;
  background-image: url("../images/arrow-sorting.svg");
  background-repeat: no-repeat;
  background-position: right 18px top 18px;
  border-radius: 4px;
}

.sorting-hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 168px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 8px;
}

.sorting-hotels-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.display-net {
  background-image: url("../images/display-net.svg");
}

.display-window {
  background-image: url("../images/display-window.svg");
}

.display-list {
  background-image: url("../images/display-list.svg");
}

.current-display {
  border: 2px solid #000000;
}

.results-list {
  padding: 0;
  list-style: none;
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0 auto;
  grid-gap: 20px;
  justify-content: space-between;
  padding-bottom: 40px;
}

.results-hotels::after {
  content: '';
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 1060px;
  margin: 0 auto;
}

.results-item {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 19px 19px 20px 19px;
}

.results-item:nth-child(3n) {
  margin-right: 0;
}

.results-image {
  display: block;
  margin-bottom: 18px;
}

.link-hotel {
  text-decoration: none;
  color: inherit;
}

.results-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  margin-bottom: 15px;
}

.results-prices {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  margin-bottom: 15px;
  width: 300px;
}

.results-prices-hotel {
  width: 150px;
  text-align: start;
}

.results-prices-desc {
  width: 150px;
  text-align: end;
}

.results-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
  align-items: center;
}

.link-results-button {
  text-decoration: none;
  color: inherit;
  width: 140px;
  height: max-content;
  padding: 8px 0;
  border-radius: 4px;
}

.link-brown-button {
  background-color: #756157;
}

.link-blue-button {
  background-color: #82b3d3;
}

.green-current-favorites {
  background-color: #7db54f;
}

.results-star {
  background-image: url("../images/star.svg");
  background-repeat: space;
}

.results-star-one {
  width: 18px;
}

.results-star-two {
  width: 42px;
}

.results-star-three {
  width: 66px;
}

.results-star-four {
  width: 89px;
}

.results-star-five {
  width: 107px;
}

.results-button-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 39px 0 61px 0;
}

.link-pagination {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  min-width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
  margin-right: 8px;
  text-decoration: none;
}

.link-pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.link-intermediate {
  background-color: #ffffff;
  color: #000000;
}

.pagination-number {
  list-style: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-closed {
  display: none;
}

.modal-window {
  width: 717px;
  min-height: 576px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 64px 70px;
  box-sizing: border-box;
  position: relative;
}

.search-data-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
}

.closing-form {
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 51px;
  top: 65px;
  cursor: pointer;
}

.search-data {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.parameter-date-container {
  display: flex;
  justify-content: space-between;
}

.name-parameter-date {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.parameter-date {
  padding: 0;
  width: 440px;
  min-height: 48px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-top: 1px;
}

.parameter-date-arrival {
  position: relative;
}

.parameter-date-departure {
  position: relative;
}

.calendar-arrival {
  opacity: 0.3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 22px;
  top: 16px;
}

.warning-window {
  margin: 0;
  font-size: 16px;
  color: #000000;
  padding: 2px 0 0 20px;
  width: 400px;
}

.error {
  color: #ff5757;
}

.calendar-departure {
  opacity: 0.3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 22px;
  top: 16px;
}

.parameter-people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
  row-gap: 26px;
}

.people-container {
  display: flex;
  width: 248px;
  justify-content: space-between;
}

.people-pop-up-window {
  width: 241px;
  justify-content: space-evenly;
}

.pop-up-window-contaier {
  position: relative;
}

.pop-up-window {
  border: 0;
  padding: 0;
  color: #83b3d3;
  background-color: #ffffff;
  width: 26px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-window-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 256px;
  min-height: 143px;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 21px 21px 22px;
  box-sizing: border-box;
  position: absolute;
  left: -118px;
  top: 9px;
}

.pop-up-window-field {
  background-image: url("../images/pyramid-pop-up.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  position: absolute;
  display: none;
  top: 43px;
  right: 3px;
}

.name-parameter-people {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  width: 59px;
  padding-top: 12px;
}

.people-container-button {
  display: flex;
  width: 111px;
  height: 48px;
  background-color: #f2f2f2;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  margin-left: 46px;
}

.button-decrease-increase {
  color: rgba(117, 97, 87, 0.3);
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: inherit;
}

.button-decrease {
  margin-left: 9px;
}

.button-plus-minus {
  color: rgba(117, 97, 87, 0.3);
  width: 20px;
  height: 20px;
}

.button-minus {
  width: 15px;
}

.button-increase {
  margin-right: 9px;
}

.parameter-people {
  padding: 0;
  width: 31px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.search-hotel-parameter {
  border: 0;
  width: 578px;
  min-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  background-color: #83b3d3;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 0 0 5px;
}

.brown-link:hover,
.brown-link:focus {
  background-color: #615048;
  outline: none;
}

.brown-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue-link:hover,
.blue-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.blue-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel-parameter:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.text-link:hover,
.text-link:focus {
  color: #756157;
  outline: none;
}

.text-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.sorting-hotels-link:hover {
  border: 2px solid #000000;
}

.sorting-hotels-link:focus {
  border: 2px solid #68a2Ca;
  outline: none;
}

.sorting-hotels-link:active {
  border: 2px solid #000000;
}

.sorting-select:hover,
.sorting-select:focus {
  outline: 2px solid #68a2Ca;
}

.sorting-select:active {
  outline: 2px solid #3f5e72;
}

.sorting-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.link-hotel:hover,
.link-hotel:focus {
  opacity: 0.8;
}

.form-link:hover {
  background-color: #e6e6e6;
}

.form-link:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.form-link:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.green-current-favorites:hover,
.green-current-favorites:focus {
  background-color: #6c9e42;
  outline: none;
}

.green-current-favorites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.transparent-link:hover,
.transparent-link:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.reset-button:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}

.transparent-link:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.transparent-link:disabled {
  opacity: 0.1;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #68a2ca;
  outline: none;
}

.contacts-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.link-logo:hover,
.link-logo:focus {
  outline: none;
  opacity: 0.7;
}

.green-current-favorites:disabled,
.brown-link:disabled,
.blue-link:disabled {
  background: #e5e5e5;
}

.link-pagination-current:hover,
.link-pagination-current:focus {
  color: #756157;
  outline: none;
}

.link-pagination-current:active {
  color: rgba(117, 97, 87, 0.3);
}

.selection-checkbox:hover:before {
  background: rgba(255, 255, 255, 0.6);
}

.selection-checkbox:focus:before {
  outline: 3px solid #83b3d3;
}

.selection-checkbox:active:before {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
}

.selection-radio:hover:before {
  background: rgba(255, 255, 255, 0.6);
}

.selection-radio:focus:before {
  outline: 3px solid #83b3d3;
}

.selection-radio:active:before {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
}

.range-handle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.pop-up-window:hover ~ .pop-up-window-field,
.pop-up-window:focus-within ~ .pop-up-window-field {
  display: block;
}

.closing-form:hover,
.parameter-date:hover {
  background-color: #e6e6e6;
}

.closing-form:focus,
.parameter-date:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.closing-form:active {
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.parameter-date:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.parameter-date:hover ~ .calendar-arrival,
.parameter-date:hover ~ .calendar-departure,
.parameter-date:focus ~ .calendar-arrival,
.parameter-date:focus ~ .calendar-departure {
  opacity: 0.8;
}

.button-plus-minus:hover {
  color: #000000;
}

.button-plus-minus:focus,
.button-decrease-increase:focus {
  color: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.button-plus-minus:active,
.button-decrease-increase:active {
  opacity: 0.2;
  outline: none;
}

.parameter-people:focus {
  outline: none;
}

.pop-up-window:hover,
.pop-up-window:focus {
  color: #68a2ca;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
