body {
    margin: 0;
    padding: 0;
}

.main-header {

}

.navigation {

}

.navigation-link {

}

.navigation-logo {

}

.navigation-list {
    margin: 0;
    padding: 0;
}

.navigation-item {

}

.curent-page {

}

.user-nav-list {
    margin: 0;
    padding: 0;
}

.user-nav-item {

}

.visually-hidden {
    margin: 0;
    padding: 0;
}

.user-nav-link {

}


.favorite-number {

}

.main-index {

}

.hero {
    /* background-image: url(/images/background-welcome.jpg);
    width: 1200px;
    height: 485px; */
}

.hero-logo {

}

.advantages {

}

.advantages-text {
    margin: 0;
    padding: 0;
}

.advantages-desc {
    margin: 0;
    padding: 0;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-item {

}

.advantages-container {

}

.advantages-title {
    margin: 0;
    padding: 0;
}

.advantages-description {
    margin: 0;
    padding: 0;
}

.advantages-image {

}

.invitation {

}

.invitation-text {
    margin: 0;
    padding: 0;
}

.invitation-desc {
    margin: 0;
    padding: 0;
}

.invitation-list {
    margin: 0;
    padding: 0;
}

.invitation-item {
    margin: 0;
    padding: 0;
}

.invitation-title {
    margin: 0;
    padding: 0;
}

.invitation-description {
    margin: 0;
    padding: 0;
}

.search {

}

.search-text {
    margin: 0;
    padding: 0;
}

.search-desc {
    margin: 0;
    padding: 0;
}

.search-link {

}

.main-footer {

}

.subscription {
    background-image: url(/images/background-subscribe.jpg);
    height: 414.86px;
    width: 1200px;
}

.subscription-title {
    margin: 0;
    padding: 0;
}

.subscription-text {
    margin: 0;
    padding: 0;
}

.subscription-form {

}

.subscription-field {
    margin: 0;
    padding: 0;
}

.subscription-button {
    margin: 0;
    padding: 0;
}

.contacts {

}

.contacts-list {
    margin: 0;
    padding: 0;
}

.contacts-item {

}

.contacts-link {

}

.contacts-phone {

}
