@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header {
  color: #000000;
  background-color: #ffffff;
  width: 1060px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-logo {
  display: block;
  padding-right: 28px;
}

.navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 542px;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}

.current-page .navigation-link {
  border-bottom: 2px solid #756257;
  width: 68px;
  padding-bottom: 18px;
}

.user-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: flex-end;
}

.user-nav-logo {
  display: flex;
  flex-wrap: wrap;
}

.user-nav-item {
  display: flex;
}

.user-nav-link {
  text-decoration: none;
  color: #ffffff;
  width: 44px;
  position: relative;
}

.user-nav-link-search {
  background-image: url("../images/search-icon1.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 12px;
  width: 20px;
  height: 20px;
}

.user-nav-link-favorite {
  background-image: url("../images/icon-heart1.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 12px;
  width: 20px;
  height: 20px;
}

.favorite-number {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 10px;
  padding: 4px 4px;
  position: absolute;
  left: 20px;
  top: 11px;
}

.button-want-here {
  padding: 8px 34px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 160px;
  height: 36px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  margin: 14px 0 14px 20px;
  box-sizing: border-box;
}

.main-index {}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #abcdde;
  background-image: url("../images/vector-welcome.svg"), url("../images/background-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 1200px 57px, cover;
  min-height: 485px;
  display: block;
}

.hero-logo {
  display: block;
  padding-top: 51px;
  padding-bottom: 82px;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
}

.advantages-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 620px;
}

.advantages-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 90px;
  width: 651px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special .advantages-container {
  padding-top: 102px;
  padding-bottom: 102px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-container {
  padding-top: 112px;
  padding-bottom: 112px;
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 230px;
  margin: 0 auto;
}

.advantages-image {
  display: block;
  object-fit: cover;
  height: 100%;
}

.invitation {
  padding-top: 64px;
}

.invitation-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.invitation-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  width: 490px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.invitation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.invitation-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding-bottom: 81px;
}

.invitation-item:nth-child(2n) {
  background-color: #ffffff;
}

.invitation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.invitation-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  width: 230px;
  margin: 0 auto;
}

/* .invitation-house {
  background-image: url("../images/icon-housing1.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  padding: 81px 0 31px;
}

.invitation-meal {
  background-image: url("../images/icon-meal1.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  padding: 81px 0 31px;
}

.invitation-souvenir {
  background-image: url("../images/icon-souvenirs1.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  padding: 81px 0 31px;
} */

.search {
  padding-bottom: 96px;
  padding-top: 96px;
}

.search-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search-link {
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  max-width: 592px;
  box-sizing: border-box;
}

.main-footer {}

.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #94afc1;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  color: #ffffff;
}

.subscription-catalog {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subscription-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-field {
  padding: 14px 0 14px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  color: #000000;
  background: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
}

.subscription-button {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  color: #ffffff;
  background: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  width: 300px;
}

.contacts-item {
  display: flex;
}

.contacts-link {
  width: 47px;
}

.contacts-link-vkontakte {
  width: 47px;
  height: 40px;
  background-image: url("../images/icon-social-vk1.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px 0 45px;
}

.contacts-link-telegram {
  width: 47px;
  height: 40px;
  background-image: url("../images/icon-social-telegram1.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px 0 45px;
}

.contacts-link-youtube {
  width: 47px;
  height: 40px;
  background-image: url("../images/icon-social-youtube1.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px 0 45px;
}

.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 44px 196px 40px 126px;
  width: 720px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.html-logo {}

.html-logo-icon {
  padding: 48px 70px 40px 42px;
}

.brown-link:hover,
.brown-link:focus {
  background: #615048;
}

.brown-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue-link:hover,
.blue-link:focus {
  background: #68a2ca;
}

.blue-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
